[submodule "jobGenerator"]
	path = jobGenerator
	url = https://github.com/socal-ucr/jobGenerator
[submodule "peregrine"]
	path = peregrine
	url = https://github.com/socal-ucr/peregrine
[submodule "caffe"]
	path = caffe
	url = https://github.com/socal-ucr/caffe
[submodule "unittest-cpp"]
	path = unittest-cpp
	url = https://github.com/socal-ucr/unittest-cpp
