[submodule "jobGenerator"]
	path = jobGenerator
	url = git@github.com:socal-ucr/jobGenerator.git
[submodule "peregrine"]
	path = peregrine
	url = git@github.com:socal-ucr/peregrine.git
[submodule "plot-scripts"]
	path = plot-scripts
	url = git@github.com:Kiran-r/plot-scripts.git
